<!doctype html>
<html lang="en" ng-app="<%= pageData.appName %>"><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= pageData.description %>">
  <title>Champion.gg - <%= pageData.title %></title>
  <!-- Bootstrap core CSS -->
  <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
  <% if(process.env.NODE_ENV === 'production') { %>
    <link href="/css/master.min.css?v=<%=core.resetCache%>" rel="stylesheet">
  <% } else { %>
     <link href="/css/master.css" rel="stylesheet">
     <link href="/css/sprite.css" rel="stylesheet">
  <% } %>
  <link rel="search" href="/opensearchdescription.xml" type="application/opensearchdescription+xml" title="Champion.gg" />
  <script>
   var _prum = [['id', '57277832abe53de9428062df'],
   ['mark', 'firstbyte', (new Date()).getTime()]];
   (function() {
     var s = document.getElementsByTagName('script')[0]
     , p = document.createElement('script');
     p.async = 'async';
     p.src = '//rum-static.pingdom.net/prum.min.js';
     s.parentNode.insertBefore(p, s);
   })();
  </script>
  <script>
  var matchupData = {};
  </script>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  
  
    <%if (pageData.name === 'home') { %>
    <script type='text/javascript'>
      var googletag = googletag || {};
      googletag.cmd = googletag.cmd || [];
      (function() {
        var gads = document.createElement('script');
        gads.async = true;
        gads.type = 'text/javascript';
        var useSSL = 'https:' == document.location.protocol;
        gads.src = (useSSL ? 'https:' : 'http:') +
          '//www.googletagservices.com/tag/js/gpt.js';
        var node = document.getElementsByTagName('script')[0];
        node.parentNode.insertBefore(gads, node);
      })();
    </script>

    <script type='text/javascript'>
      googletag.cmd.push(function() {
        googletag.defineSlot('/22280732/ChampionGG_1x1_ROS_Wallpaper', [1, 1], 'div-gpt-ad-1443488528500-0').addService(googletag.pubads());
        googletag.defineSlot('/22280732/ChampionGG_728x90_HP_ATF1', [[320, 50], [320, 100], [970, 90], [970, 250], [728, 90]], 'div-gpt-ad-1443727656867-1').addService(googletag.pubads());
        googletag.defineSlot('/22280732/ChampionGG_300x250_HP_ATF1', [[300, 250], [300, 600], [300, 1050], [336, 280]], 'div-gpt-ad-1443488528500-4').addService(googletag.pubads());
        googletag.defineSlot('/22280732/ChampionGG_300x250_HP_BTF1', [[300, 250], [300, 600], [300, 1050], [336, 280]], 'div-gpt-ad-1443488528500-5').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.pubads().collapseEmptyDivs();
        googletag.enableServices();
      });
    </script>  
  <% } else if (pageData.name === 'champion') { %>
    <script type='text/javascript'>
      var googletag = googletag || {};
      googletag.cmd = googletag.cmd || [];
      (function() {
        var gads = document.createElement('script');
        gads.async = true;
        gads.type = 'text/javascript';
        var useSSL = 'https:' == document.location.protocol;
        gads.src = (useSSL ? 'https:' : 'http:') +
          '//www.googletagservices.com/tag/js/gpt.js';
        var node = document.getElementsByTagName('script')[0];
        node.parentNode.insertBefore(gads, node);
      })();
    </script>

    <script type='text/javascript'>
      googletag.cmd.push(function() {
        googletag.defineSlot('/22280732/ChampionGG_1x1_ROS_Wallpaper', [1, 1], 'div-gpt-ad-1443488528500-0').addService(googletag.pubads());
        googletag.defineSlot('/22280732/ChampionGG_728x90_Champion_ATF1', [[320, 50], [320, 100], [970, 90], [970, 250], [728, 90]], 'div-gpt-ad-1443727656867-0').addService(googletag.pubads());
        googletag.defineSlot('/22280732/ChampionGG_300x250_Champion_ATF1', [[300, 250], [300, 600], [300, 1050], [336, 280]], 'div-gpt-ad-1443488528500-1').addService(googletag.pubads());
        googletag.defineSlot('/22280732/ChampionGG_300x250_Champion_BTF1', [[300, 250], [300, 600], [300, 1050], [336, 280]], 'div-gpt-ad-1443488528500-2').addService(googletag.pubads());
        googletag.defineSlot('/22280732/ChampionGG_300x250_Champion_BTF2', [[300, 250], [300, 600], [300, 1050], [336, 280]], 'div-gpt-ad-1443488528500-3').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.pubads().collapseEmptyDivs();
        googletag.enableServices();
      });
    </script>
  <% } else { %>
    <script type='text/javascript'>
      var googletag = googletag || {};
      googletag.cmd = googletag.cmd || [];
      (function() {
        var gads = document.createElement('script');
        gads.async = true;
        gads.type = 'text/javascript';
        var useSSL = 'https:' == document.location.protocol;
        gads.src = (useSSL ? 'https:' : 'http:') +
          '//www.googletagservices.com/tag/js/gpt.js';
        var node = document.getElementsByTagName('script')[0];
        node.parentNode.insertBefore(gads, node);
      })();
    </script>

    <script type='text/javascript'>
      googletag.cmd.push(function() {
        googletag.defineSlot('/22280732/ChampionGG_1x1_ROS_Wallpaper', [1, 1], 'div-gpt-ad-1443488528500-0').addService(googletag.pubads());
        googletag.defineSlot('/22280732/ChampionGG_728x90_Other_ATF1', [[728, 90], [320, 50], [970, 90], [970, 250], [320, 100]], 'div-gpt-ad-1443488528500-6').addService(googletag.pubads());
        googletag.defineSlot('/22280732/ChampionGG_728x90_Other_BTF1', [[728, 90], [320, 50], [970, 90], [970, 250], [320, 100]], 'div-gpt-ad-1443488528500-7').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.pubads().collapseEmptyDivs();
        googletag.enableServices();
      });
    </script>
  <% } %>
  
</head>
<body>
  <div class="primary-hue">
    <div class="main-container">
      <div class="navigation-elem">
        <div class="inner-nav clearfix">
          <ul class="nav navbar-nav">
            <li class="first-button <%if (pageData.name === 'home') { %> active <% } %>"><a href="/">Home</a></li>
            <li class="<%if (pageData.name === 'stats') { %> active <% } %>"><a href="/statistics/">Statistics</a></li>
            <li class="<%if (pageData.name === 'faq') { %> active <% } %>"><a href="/faq/">F.A.Q.</a></li>
          </ul>
          
          <div class="social-media">
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="champion_gg">Tweet</a>
            <div class="fb-like" data-href="https://www.facebook.com/championgg" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
          </div>
          <div class="update-happening">
            <% if (core.headline) { %>
             <span class="important-message"> <%= core.headline %> </span>
            <% } %>
          </div>
        </div>
      </div>
      <div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
         <div class="row clearfix">
            <div class="logo-holder">
            <a class="navbar-brand" href="/"><img src="/img/logo.png" /></a>
          </div>
          <div class="search-holder">
            
            <div class="search-fb-holder">
              <div class="input-group" ng-controller="searchCtrl">

                <input type="text" class="form-control" placeholder="Champion Name" id="query" value="" ng-model="selected" ng-model-options="{debounce: 40}" typeahead="champ as champ.name for champ in championMenu | startsWith:$viewValue | limitTo: 12" typeahead-template-url="menu.html" style="width:188px;display: inline-block;" ng-keyup="determineSend($event.keyCode)" autocomplete="off">
                <div class="input-group-btn" style="cursor:auto;display: inline-block;">  
                  <button ng-click="getPage()" style="cursor:auto;" type="submit" class="btn btn-success"><span style="cursor:auto;" class="glyphicon glyphicon-search" ></span></button>
                </div>
              
              </div>
            </div>
            
          </div>
          <div class="navigation-holder cleafix">
            <!--<a class="donate" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=championgg%40outlook%2ecom&lc=AU&item_name=ChampionGG&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted" alt="donate"> Donate </a>-->
            <div class="analysis-holder">
              <small>
                Patch 
                <strong><%=core.patch%></strong> 
                <span class="spacer">|</span> 
                Champions Analyzed 
                <strong><%=core.championsAnalyzed%></strong>
                <span class="spacer">|</span> 
                <strong> Platinum+ Ranked </strong>
              </small> 
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="page-content">


    <div style="text-align:center">
    <%if (pageData.name === 'home') { %>
      <!-- /22280732/ChampionGG_728x90_HP_ATF1 -->
      <div id='div-gpt-ad-1443727656867-1'>
      <script type='text/javascript'>
      googletag.cmd.push(function() { googletag.display('div-gpt-ad-1443727656867-1'); });
      </script>
      </div>
    <% } else if (pageData.name === 'champion') { %>
      <!-- /22280732/ChampionGG_728x90_Champion_ATF1 -->
      <div id='div-gpt-ad-1443727656867-0'>
      <script type='text/javascript'>
      googletag.cmd.push(function() { googletag.display('div-gpt-ad-1443727656867-0'); });
      </script>
      </div>
    <% } else { %>
      <!-- /22280732/ChampionGG_728x90_Other_ATF1 -->
      <div id='div-gpt-ad-1443488528500-6'>
      <script type='text/javascript'>
      googletag.cmd.push(function() { googletag.display('div-gpt-ad-1443488528500-6'); });
      </script>
      </div>
    <% } %>
    </div>
    
    
    <noscript><div class="update-happening">To make the most of this website, we strongly recommend turning JavaScript on! It powers the graphs, data sorting and other cool features!</div></noscript>
