 <h2 class="line-chart-header">Win Rate % by Game Length</h2> 
 <div class="chart-holder">
   <canvas tc-chartjs-line chart-data="gameLength.data" chart-options="gameLength.settings" id="canvas" height="150" width="300"></canvas>
 </div>
 <div tc-chartjs-legend chart-legend="playRate"></div>
<h2 class="line-chart-header">
  Win Rate % by Games Played 
  <small style="display:block;margin-top: 10px;">(2014-2015 Ranked Experience)</small>
</h2> 
<div class="chart-holder">
  <canvas tc-chartjs-line chart-data="experienceRate.data" chart-options="experienceRate.settings" chart-legend="experienceRate" id="canvas" height="150" width="300"></canvas>
</div>
<div tc-chartjs-legend chart-legend="experienceRate"></div>

<h2 class="line-chart-header" style="margin-bottom: 20px;">Playerbase Experience Distribution</h2> 
<div class="chart-holder clearfix">
  <div style="width:65%;float:left">
    <canvas tc-chartjs-pie chart-data="experienceDistribution.data.datasets" chart-options="experienceDistribution.settings" chart-legend="experienceDist" id="canvas" height="220" width="300" ></canvas>
  </div>
  <div style="width:35%;float:left">
    <small style="display: block;margin-bottom:10px">2014-2015 Ranked Games</small>
    <div tc-chartjs-legend chart-legend="experienceDist"></div>
  </div>
</div>

 <h2 class="champion-stats">Most Frequent Summoners</h2>
 <div class="summoner-wrapper">
  <a href="http://leagueoflegends.wikia.com/wiki/<%= championData.summoners.mostGames.summoner1.name %>" rel="nofollow" target="_blank"><img src="//ddragon.leagueoflegends.com/cdn/<%= core.ddPatch %>/img/spell/<%= championData.summoners.mostGames.summoner1.url %>" class="possible-build" tooltip="<%= championData.summoners.mostGames.summoner1.name %>"/></a>
  
  <a href="http://leagueoflegends.wikia.com/wiki/<%= championData.summoners.mostGames.summoner2.name %>" rel="nofollow" target="_blank"><img src="//ddragon.leagueoflegends.com/cdn/<%= core.ddPatch %>/img/spell/<%= championData.summoners.mostGames.summoner2.url %>" class="possible-build" tooltip="<%= championData.summoners.mostGames.summoner2.name %>"/></a>                 
  <div class="summoner-text"><strong><%= championData.summoners.mostGames.winPercent %>%</strong> Win Rate | <strong><%= championData.summoners.mostGames.games %></strong> Games</div>
</div>

<h2 class="champion-stats">Highest Win % Summoners</h2>
<div class="summoner-wrapper">
  <a href="http://leagueoflegends.wikia.com/wiki/<%= championData.summoners.highestWinPercent.summoner1.name %>" rel="nofollow" target="_blank"><img src="//ddragon.leagueoflegends.com/cdn/<%= core.ddPatch %>/img/spell/<%= championData.summoners.highestWinPercent.summoner1.url %>" class="possible-build" tooltip="<%= championData.summoners.highestWinPercent.summoner1.name %>"/></a> 
  <a href="http://leagueoflegends.wikia.com/wiki/<%= championData.summoners.highestWinPercent.summoner2.name %>" rel="nofollow" target="_blank"><img src="//ddragon.leagueoflegends.com/cdn/<%= core.ddPatch %>/img/spell/<%= championData.summoners.highestWinPercent.summoner2.url %>" class="possible-build" tooltip="<%= championData.summoners.highestWinPercent.summoner2.name %>"/></a>                
  <div class="summoner-text"><strong><%= championData.summoners.highestWinPercent.winPercent %>%</strong> Win Rate | <strong><%= championData.summoners.highestWinPercent.games %></strong> Games</div>
</div>